<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Sistema</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <header>
      <h1>Sistema de Usuários</h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>© 2026</p>
    </footer>

  </body>
</html>